.marker {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -100%);
  background-color: red;
  cursor: pointer;
  
}
.animation-marker{
  animation: colorChange 1.5s ease-in-out 0.1s 1 ;
  -webkit-animation: colorChange 1.5s ease-in-out 0.1s 1;
}

@keyframes colorChange {
  0%,100%{background-Color: red}
  50%{background-Color: blue}
}

@-webkit-keyframes colorChange{
  0%,100%{background-Color: red}
  50%{background-Color: blue}
}